**GROUP 15 PROJECT PROPOSAL: ANALYSIS OF THE STATISTICS OF THE TOP 500 TENNIS PLAYERS**

***Exploratory Data Analysis of the Top 500 Tennis Players' Characteristics***

**INTRODUCTION:**

For our project, we will be using a .csv dataset that has been created by "The Ultimate Tennis Statistics". This dataset contains information on the top 500 tennis players, including their age, height, country, handedness, backhand technique, current and best rank, seasons as a professional tennis player, in addition to a few other less relevant variables.

Tennis is a sport that is widely popular among players of all ages; most in which are striving to make it to the professional level of play. At this level, the top 500 players are known not only for the exceptional tennis playing skills, but also their wealth and prestige. This is why we have taken an interest in predicting a professional tennis player's total prize money based upon their age and best career ranking, using the k-nearest neighbors regression algorithm. 

***Predictive Question:***

Can we predict a professional tennis player's total prize money based on their age and best career ranking?

**Preliminary exploratory data analysis:**

- Demonstrate that the dataset can be read from the web into R 
- Clean and wrangle your data into a tidy format
- Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
- Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(dplyr)
install.packages("janitor")
library(janitor)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [2]:
tennis_data <- read_csv("https://raw.githubusercontent.com/Myralalala/group15/main/tennis_player_stats.csv")

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
#clean and wrangle the data
tennis_data <- tennis_data |>
    clean_names() |>
    select(age, best_rank, prize_money)

#Tidying the data
tennis_data_tidy <- tennis_data |>
        separate(col = age,
                 into = c("age", "Birthdate"),
                 sep = " ") |>
        separate(col = best_rank,
                 into = c("best_rank", "best_rank_date"),
                 sep = " ") |> 
        separate(col = prize_money,
                 into = c("currency", "prize_money"),
                 sep = "\\$") |>
        select(age, best_rank, prize_money)

tennis_data_tidy

Warning message:
“Expected 2 pieces. Additional pieces discarded in 2 rows [146, 441].”

    age best_rank prize_money
1   26  363       NA
2   18  316       59,040
3   32  44        3,261,567
4   21  130       374,093
5   27  17        6,091,971
6   22  31        1,517,157
7   28  213       278,709
8   21  229       59,123
9   25  253       122,734
10  20  104       74,927
11  19  17        1,893,476
12  23  4          10,507,693
13  28  143       303,458
14  23  319       54,004
15  28  134       439,427
16  31  3         25,889,586  11th all-time leader in earnings
17  24  283       NA
18  22  132       507,297
19  20  47        1,285,541
20  22  25        2,722,314
21  33  19        10,821,168
22  32  11        11,912,152
23  30  98        898,701
24  30  171       184,328
25  30  277       158,269
26  22  312       87,942
27  26  293       32,892
28  30  75        631,094
29  21  382       NA
30  32  9         13,470,614
⋮   ⋮   ⋮         ⋮
471 23  196       150,833
472 24  486       NA
473 28  99        484,561
474 34  8         8,918,917
475 26  292       105,238
476 21  389       NA
477 25  276       NA
478 24  289       108,984
479 25  465       NA
480 18  355       31,170
481 27  136       310,368
482 23  365       69,581
483 29  189       185,586
484 26  314       NA
485 22  29        3,304,117
486 32  84        2,013,015
487 23  343       NA
488 24  58        1,703,096
489 24  92        414,637
490 18  299       12,756
491 28  74        1,048,314
492 26  249        132,871
493 31  281       178,317
494 32  137       354,975
495 20  394       40,724
496 20  380       57,943
497 26  4         22,132,368 15th all-time leader in earnings
498 23  342       NA
499 24  419       NA
500 22  408       61,984

In [4]:
#using the training set:
    #summarize the data from at least one table
        #ex: counts of observations, means of the predictors to be used & number of rows missing data
    #visualize the data with at least one plot relevant to the analysis we plan to do

**Methods:**

-> Explain how you will conduct either your data analysis and which variables/columns you will use

**Expected outcomes and significance:**

* What do you expect to find?
* What impact could such findings have?
* What future questions could this lead to?

***NOTE: needs to be submitted as both .ipynb and .html files by one of us***