**GROUP 15 PROJECT PROPOSAL: ANALYSIS OF THE STATISTICS OF THE TOP 500 TENNIS PLAYERS**

***Exploratory Data Analysis of the Top 500 Tennis Players' Characteristics***

**INTRODUCTION:**

For our project, we will be using a .csv dataset that has been created by "The Ultimate Tennis Statistics". This dataset contains information on the top 500 tennis players, including their age, height, country, handedness, backhand technique, current and best rank, seasons as a professional tennis player, in addition to a few other less relevant variables.

Tennis is a sport that is widely popular among players of all ages; most in which are striving to make it to the professional level of play. At this level, the top 500 players are known not only for the exceptional tennis playing skills, but also their wealth and prestige. This is why we have taken an interest in predicting a professional tennis player's total prize money based upon their age and best career ranking, using the k-nearest neighbors regression algorithm. 

***Predictive Question:***

Can we predict a professional tennis player's total prize money based on their age and best career ranking?

**Preliminary exploratory data analysis:**

- Demonstrate that the dataset can be read from the web into R 
- Clean and wrangle your data into a tidy format
- Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
- Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [4]:
library(tidyverse)
library(repr)
library(tidymodels)
library(dplyr)
install.packages("janitor")
library(janitor)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [4]:
download.file("https://raw.githubusercontent.com/Myralalala/group15/main/player_stats.csv", "tennis_player_stats.csv")

In [6]:
tennis_data <- read_csv("tennis_player_stats.csv")
#clean and wrangle the data
tennis_data <- tennis_data |>
    clean_names() |>
    select(age, best_rank, prize_money)

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age             best_rank
1   26 (25-04-1993) 363 (04-11-2019)
2   18 (22-12-2001) 316 (14-10-2019)
3   32 (03-11-1987) 44 (14-01-2013)
4   21 (29-05-1998) 130 (10-04-2017)
5   27 (21-10-1992) 17 (11-01-2016)
6   22 (11-02-1997) 31 (20-01-2020)
7   28 (18-11-1991) 213 (31-10-2016)
8   21 (12-05-1998) 229 (04-11-2019)
9   25 (29-07-1994) 253 (17-07-2017)
10  20 (02-04-1999) 104 (13-01-2020)
11  19 (08-08-2000) 17 (14-10-2019)
12  23 (11-02-1996) 4 (09-09-2019)
13  28 (28-11-1991) 143 (14-10-2019)
14  23 (22-02-1996) 319 (15-07-2019)
15  28 (17-03-1991) 134 (18-11-2019)
16  31 (23-09-1988) 3 (13-08-2018)
17  24 (26-04-1995) 283 (11-07-2016)
18  22 (02-05-1997) 132 (04-11-2019)
19  20 (31-08-1999) 47 (09-09-2019)
20  22 (28-10-1997) 25 (05-08-2019)
21  33 (12-04-1986) 19 (23-07-2012)
22  32 (07-10-1987) 11 (26-02-2018)
23  30 (20-09-1989) 98 (25-07-2016)
24  30 (30-08-1989) 171 (13-01-2020)
25  30 (29-11-1989) 277 (19-08-2019)
26  22 (23-03-1997) 312 (12-08-2019)
27  26 (14-09-1993) 293 (03-03-2014)
28  30 (12-11-1989) 75 (22-04-2019)
29  21 (19-02-1998) 382 (30-09-2019)
30  32 (24-05-1987) 9 (15-07-2019)
⋮   ⋮               ⋮
471 23 (12-01-1997) 196 (06-01-2020)
472 24 (07-02-1995) 486 (13-01-2020)
473 28 (13-11-1991) 99 (16-07-2018)
474 34 (17-06-1985) 8 (21-08-2006)
475 26 (29-06-1993) 292 (13-01-2020)
476 21 (27-11-1998) 389 (24-06-2019)
477 25 (21-09-1994) 276 (12-08-2019)
478 24 (05-05-1995) 289 (20-01-2020)
479 25 (24-08-1994) 465 (19-08-2019)
480 18 (03-08-2001) 355 (13-01-2020)
481 27 (27-10-1992) 136 (02-07-2018)
482 23 (03-10-1996) 365 (06-01-2020)
483 29 (16-10-1990) 189 (13-07-2015)
484 26 (17-01-1994) 314 (12-08-2019)
485 22 (20-01-1998) 29 (11-02-2019)
486 32 (14-01-1988) 84 (28-09-2015)
487 23 (03-05-1996) 343 (29-04-2019)
488 24 (27-09-1995) 58 (20-03-2017)
489 24 (04-07-1995) 92 (19-08-2019)
490 18 (08-08-2001) 299 (06-01-2020)
491 28 (12-07-1991) 74 (19-02-2018)
492 26 (28-07-1993) 249 (24-12-2018)
493 31 (20-01-1989) 281 (15-06-2015)
494 32 (19-10-1987) 137 (12-09-2016)
495 20 (31-01-1999) 394 (18-11-2019)
496 20 (13-04-1999) 380 (11-11-2019)
497 26 (03-09-1993) 4 (06-11-2017)
498 23 (14-03-1996) 342 (05-08-2019)
499 24 (17-05-1995) 419 (20-01-2020)
500 22 (26-03-1997) 408 (24-12-2018)
    prize_money
1   NA
2   $59,040
3   US$3,261,567
4   $374,093
5   US$6,091,971
6   $1,517,157
7   $278,709
8   $59,123
9   $122,734
10  US$74,927
11  US$1,893,476
12  US$ 10,507,693
13  $303,458
14  $54,004
15  US$439,427
16  US$25,889,586  11th all-time leader in earnings
17  NA
18  US$507,297
19  $1,285,541
20  US$2,722,314
21  $10,821,168
22  US$11,912,152
23  $898,701
24  $184,328
25  $158,269
26  $87,942
27  $32,892
28  $631,094
29  NA
30  US$13,470,614
⋮   ⋮
471 $150,833
472 NA
473 US$484,561
474 $8,918,917
475 $105,238
476 NA
477 NA
478 $108,984
479 NA
480 $31,170
481 $310,368
482 $69,581
483 $185,586
484 NA
485 US$3,304,117
486 $2,013,015
487 NA
488 $1,703,096
489 US$414,637
490 $12,756
491 US$1,048,314
492 US$ 132,871
493 $178,317
494 $354,975
495 $40,724
496 $57,943
497 $22,132,368 15th all-time leader in earnings
498 NA
499 NA
500 $61,984

In [2]:
#using the training set:
    #summarize the data from at least one table
        #ex: counts of observations, means of the predictors to be used & number of rows missing data
    #visualize the data with at least one plot relevant to the analysis we plan to do

**Methods:**

-> Explain how you will conduct either your data analysis and which variables/columns you will use

**Expected outcomes and significance:**

* What do you expect to find?
* What impact could such findings have?
* What future questions could this lead to?

***NOTE: needs to be submitted as both .ipynb and .html files by one of us***